* {
    border: none;
    border-radius: 0;
    font-family: 'Mononoki Nerd Font 7';
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0);
    color: #eee8d5;
}

window#waybar.hidden {
    opacity: 0.0;
}

#workspaces {
    background-color: #002b36;
    border-radius: 20px;
    padding: 0 15px;
}

#workspaces button {
    margin: 0 5px;
    padding: 0;
    background: transparent;
    color: #eee8d5;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    border-bottom: 2px solid #d33682;
    color: #d33682;
}

#workspaces button.urgent {
    color: #dc322f;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    border-bottom: 2px solid #b58900;
}

#window {
    background-color: #002b36;
    border-radius: 0 20px 20px 0;
    padding: 0 20px;
    margin: 0 10px 0 0;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 20px;
    margin: 0 10px;
    background-color: #002b36;
    color: #eee8d5;
    border-radius: 20px;
}

#clock {
    
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #eee8d5;
        color: #001a1d;
    }
}

#battery.critical:not(.charging) {
    background: #dc322f;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
    margin: 0 0 0 10px;
    padding:  0 10px 0 20px;
    border-radius: 20px 0 0 20px;
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
}

.custom-spotify {
}

.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
    border-radius: 0;
    margin: 0;
    padding: 0 20px 0 0;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}
